<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting - jh2oman - Ruby on Rails - Jacob Waterman</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="_RySjxti3SSnZ__LLsKdvHnBJYsan4si85qGzeYiwmg" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This pinterest clone was a lot of fun to make, and was my first dive into learning some of the Ruby on Rails Framework. More recently I have used Pinteresting as an area to practice SEO.">
</head>
<body>

	<%= render 'layouts/header'%>
	<div class="container">
		<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>

	</div>

</body>
</html>
